
#background{
    background-image: url(file:///Users/passion/Desktop/Tic%20Tac%20Toe%20Image.jpg)
}



.bottom_border {
  border-bottom: 10px solid black;

}

.right_border {
  border-right: 10px solid black;
}

.left_border {
  border-left: 10px solid black;
}

.top_border {
  border-top: 10px solid black;
}

table {
  border-collapse: collapse;
  border-spacing:0;

}

h1 {
  color:blue;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  text-decoration:

}


td {
  width:300px;
  height:200px;
  text-align: center;
  font-size: 50px;
}
