.bottom_border {
  border-bottom: 10px solid black;
}

.right_border {
  border-right: 10px solid black;
}

.left_border {
  border-left: 10px solid black;
}

.top_border {
  border-top: 10px solid black;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

h1 {
  color:blue;
  font-size: 30px;
  text-decoration: underline;
  font-style: italic;
}

td {
  width:200px;
  height:200px;
}
